body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    margin-bottom: 50px;
}

.logo {
    width: 100px;
}

.content-section {
    margin: 50px 0;
    opacity: 0;
}

a {
    color: white;
}
