body {
    background: url('https://te.legra.ph/file/24d8e263bfc63b736038c.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    margin-bottom: 50px;
}

.logo {
    width: 100px;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.7);
}

.content-section {
    margin: 50px 0;
    opacity: 0;
}

a {
    color: white;
}
